<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Year" value="2024" />    <!-- Sets the year of Advent of code for downloading of inputs. -->
    <add key="CookieFile" value="Cookie.txt"/>    <!-- Sets the path to the cookie file. -->
    <add key="Benchmark" value="00000"/>
  </appSettings>
</configuration>